<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div th:each="albums : ${music}">
    <h3 th:text="${albums.title}">Album Title</h3>
    <h4 th:text="${albums.artist}">Artist</h4>
    <p th:text="'Song Count: ' + ${albums.count}">song count:</p>
    <p th:text="'Seconds: ' + ${albums.seconds}">seconds</p>
    <img th:src="${albums.image}">
</div>
</body>
</html>