<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>I'm Home</h1>
<a href="/albums">Click here to view albums</a> <br>
<a href="/hello">Hello World page</a>

<p>To capitalize a word place it on the end of a URL to capitalize path<br>Example: localhost:8080/capitalize/lowerCaseWord</p>

</body>
</html>