<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>

<div th:each="song : ${songs}">

    <h3 th:text="${song.name}">Song Name</h3>
    <h4 th:number="${song.length}">Seconds</h4>
    <p th:number="${song.track}">Track</p>

</div>

</body>
</html>